<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Why maintaining your excellent <br><em>habits is beneficial</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>                    
                                 <li>This could be for any number of reasons due to events at work, socially or family
                                related. Positive examples include promotion, children, new job or moving home</li>
                            <li>Other events could be a death, serious illness, work restructuring, redundancy,
                                debt, or separation from partner. </li>
                            <li>Look at Subscale scores that are nearest to being red. Besides drawing on your
                                known wellness strengths, you could examine your 44 Subscale scores and
                                pinpoint which Subscales scores are nearest to red. In times of increased tension
                                these are the elements which would be most likely to trigger a Wellness
                                Development Activity. <br>
                               <b> Note:</b> You may want to focus on the three closest to being red to begin with. </li>
                            <li>Then decide, for each of these Subscales, what wellness techniques you already
                                have, or know of, which you may need to develop further. 
                            </li>
                            <li>Or, you may need to draw on additional resources to find and develop new
                                techniques. <br>
                               <b> See Additional Resources Guide below.</b>
                            </li>
                            </br>
                            </ul>
                        <p>Identify any potential major risks of increased tension in your life in the next                                6 to 12 months.
                        <button  style="background-color: transparent;border:none;" id="newbtn1"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                        </p>
                        <div id="newcolumn1" style="display:none">
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
      

    </table>
  </div>
<form>
<textarea  id="newtxt1" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
                        <br>
                        <p>Which 3 Subscales are closest to being red? <button  style="background-color: transparent;border:none;" id="newbtn2"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>
<div id="newcolumn2" style="display:none">
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
      

    </table>
  </div>
<form>
<textarea  id="newtxt2" name="text" cols="100" rows="3" class="form-control"></textarea>
</form>
                        <br>
                        <button  style="background-color: transparent;border:none;" id="newbtn3"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                        <div id="newcolumn3" style="display:none">
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
      

    </table>
  </div>
<form>
<textarea  id="newtxt3" name="text" cols="100" rows="3" class="form-control"></textarea>
</form>
                        <br>
                        <button  style="background-color: transparent;border:none;" id="newbtn4"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                       <div id="newcolumn4" style="display:none">
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
      

    </table>
  </div>
<form>
<textarea  id="newtxt4" name="text" cols="100" rows="3" class="form-control"></textarea>
</form>
                        <br>
                        <p>Which wellness techniques can you use to ensure these scores remain
                            outside of the red zone? <button  style="background-color: transparent;border:none;" id="newbtn5"><i class="fa fa-microphone" aria-hidden="true"></i></button>
                            </p>
<div id="newcolumn5" style="display:none">
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
      

    </table>
  </div>
<form>
<textarea  id="newtxt5" name="text" cols="100" rows="8" class="form-control" ></textarea>
</form>
                        </div>
                    </div>
                </div>            
            </section>
</div>
<script>

    // status fields and start button in UI

    var newtxt1,newtxt2,newtxt3,newtxt4,newtxt5;

    var newbtn1,newbtn2,newbtn3,newbtn4,newbtn5;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;


      newbtn1 = document.getElementById("newbtn1");
      newbtn2 = document.getElementById("newbtn2");
      newbtn3 = document.getElementById("newbtn3");
      newbtn4 = document.getElementById("newbtn4");
      newbtn5 = document.getElementById("newbtn5");

      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");


      newtxt1 = document.getElementById("newtxt1");
      newtxt2 = document.getElementById("newtxt2");
      newtxt3 = document.getElementById("newtxt3");
      newtxt4 = document.getElementById("newtxt4");
      newtxt5 = document.getElementById("newtxt5");




newbtn1.addEventListener("click", function () {
        newbtn1.disabled = true;
        newbtn1.style.color="red";
        newtxt1.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn1.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn1.disabled = false;
            newbtn1.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt1.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn1.disabled = false;
            newbtn1.style.color="black";
            newtxt1.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
newbtn2.addEventListener("click", function () {
        newbtn2.disabled = true;
        newbtn2.style.color="red";
        newtxt2.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn2.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn2.disabled = false;
            newbtn2.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt2.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn2.disabled = false;
            newbtn2.style.color="black";
            newtxt2.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
newbtn3.addEventListener("click", function () {
        newbtn3.disabled = true;
        newbtn3.style.color="red";
        newtxt3.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn3.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn3.disabled = false;
            newbtn3.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt3.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn3.disabled = false;
            newbtn3.style.color="black";
            newtxt3.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      newbtn4.addEventListener("click", function () {
        newbtn4.disabled = true;
        newbtn4.style.color="red";
        newtxt4.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn4.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn4.disabled = false;
            newbtn4.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt4.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn4.disabled = false;
            newbtn4.style.color="black";
            newtxt4.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      newbtn5.addEventListener("click", function () {
        newbtn5.disabled = true;
        newbtn5.style.color="red";
        newtxt5.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          newbtn5.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            newbtn5.disabled = false;
            newbtn5.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            newtxt5.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            newbtn5.disabled = false;
            newbtn5.style.color="black";
            newtxt5.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        newbtn1.disabled=false;
        newbtn1.style.color="black";
        newbtn2.disabled=false;
        newbtn2.style.color="black";
        newbtn3.disabled=false;
        newbtn3.style.color="black";
        newbtn4.disabled=false;
        newbtn4.style.color="black";
        newbtn5.disabled=false;
        newbtn5.style.color="black";

        document.getElementById('newcolumn1').style.display = 'block';
        document.getElementById('newcolumn2').style.display = 'block';
        document.getElementById('newcolumn3').style.display = 'block';
        document.getElementById('newcolumn4').style.display = 'block';
        document.getElementById('newcolumn5').style.display = 'block';

        document.getElementById('warning').style.display = 'none';
      }

  </script>